*{
    margin: 0;
    
}

.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1e1e2f;

}

.main-content {
    flex: 1;
    padding: 40px;
}

.map-container {
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: 0 10px 25px rgba(37, 78, 112, 0.12);
    background-color: #324769;
}

.map-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f0f0f0;
}

body {
    background-color: #662aaad7;
}