.nav-bar{
    overflow-y: auto;
    background: linear-gradient(180deg, #328E6E, #90C67C,#328E6E);
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    align-items: center;
    justify-items: center;
    width: 15%;
}
.btn-nav-bar{
    margin-top: 10px;
    transition:  0.3s ease;
    color: white;
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #328E6E;
    cursor: pointer;
    font-weight: 500;
    width: 80%;
}
.btn-nav-bar:hover {
    background-color: #67AE6E;
}
.nav-bar-ul{
    width: 80%;
    z-index: -2;
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 5px;
}
.nav-bar-ul:nth-child(1){
    grid-column:  1;
    grid-row: 1;
}

.nav-bar li{
    margin-left: 10px;
    transition: all 0.4s ease-out;
    padding: 0;
}
.nav-bar li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.nav-bar li a:hover{
    text-decoration: none;
    color: rgb(53, 53, 53);
}
.show{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

