.div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(135deg, #7e22ce, #c084fc);
    color: white;
    height: 40px;
}
