.contenedor-perdidas {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.contenedor-perdidas h1 {
    margin: 0;
    font-size: 32px;
    color: #14213d;
}

.subtitulo-perdidas {
    margin-top: -18px;
    color: #5f6b7a;
    margin-bottom: 5px;
}

.lista-perdidas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
    gap: 24px;
}

.card-perdida {
    background: linear-gradient(
        135deg,
        #1d2942,
        #0f1b35
    );

    color: white;

    border: 2px solid #2f855a;
    border-radius: 18px;

    padding: 24px;
    min-height: 220px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

    transition: all 0.3s ease;
}

.card-perdida:hover {
    transform: translateY(-6px);
    border-color: #68b684;
    box-shadow: 0 12px 28px rgba(47, 133, 90, 0.35);
}

.card-perdida h3 {
    color: #68b684;
    margin: 0 0 15px;
}

.card-perdida p {
    margin: 10px 0;
}

.img-perdida {
    width: 100%;
    height: 180px;
    object-fit: cover;

    margin-top: 15px;

    border-radius: 12px;
    border: 2px solid rgba(104, 182, 132, 0.25);
}

.img-perdida:hover {
    border-color: #68b684;
}

@media (max-width: 768px) {
    .lista-perdidas {
        grid-template-columns: 1fr;
    }

    .card-perdida {
        width: 100%;
    }
}